@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700;900&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 10px auto;
}
@media screen and (max-width: 576px) {
  body {
    width: 300px;
  }
}

@media screen and (min-width: 576px) {
  body {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  body {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    width: 1140px;
  }
}

.coco {
  width: 100%;
  margin-bottom: -4px;
  border-radius: 3px;
}

.player {
  margin:auto;
}